body{
	background-color: #FFF4F9;
}

header{
	background-color: #7C1137;
}

#name{
	background-color: #7C1137;
  	color: #FFF4F9;
  	font-size: 44.5px;
  	font-family: glass antiqua, josefin sans, serif;
   	height:140px; 
  	margin: auto;
	padding-bottom: 5px;
  	padding-top: 60px;
  	text-align: center;
  	text-align: justtify;
	width: 695px;
}

nav {	
	display: block;
	height: 50px;
	margin: auto;
	padding-top: 0px;
	text-align: center;
	width: 760px;
}

nav ul{
	display: block;
	display: inline;
	float: left;
	font-family: glass antiqua, josefin sans, serif;
	list-style-type: none;
	margin: auto;
	text-align: center;
}

nav ul li {
	color: #7C1137; 
	display: inline;
	display: block;
	float: right;
	float: left;
	font-size: 18px;
	line-height: 40px;
	margin: auto;
	text-align: center;
	width: 170px;
}

nav a:link {
	color: #7C1137;
	text-decoration:none;
}      /* unvisited link */

nav a:visited {
	color: #7C1137;
	text-decoration:none;
}  /* visited link */
  
nav a:active {
	color:#7C1137;
}  /* selected link */

section{
	clear:both;
	display: inline;
	display: block;
	float: middle;
	margin: auto;
	font-family: glass antiqua, josefin slab, serif;
	text-align: justify;
	width: 560px;
}

section ul{
	height: 200px;
	font-family: glass antiqua, josefin slab, serif;
	list-style-type: none;
	text-align:center;
	width:700px;
}

.methods{
	text-align: center;
}

.resume img{
	border: solid, 10px, #7C1137; 
	display: block;
	margin: auto; 
	width: 560px;
}

section ul li {
	display: inline;
	float: left;
	font-size: 18px;
	line-height: 40px;
	width:130px;

}

section #content ul li a{
	color: #7C1137;
	display: block;
	float: left;
	font-size: 18px;
	line-height: 40px;
	margin: 0px;  
}

section a:link {
	color: #D92969;
	text-decoration:none;
}      /* unvisited link */

section a:visited {
	color: #D92969;
	text-decoration:none;
}  /* visited link */

.item {
	clear: both;
	float: left;
	padding-right: 45px;
	padding-bottom: 30px;
}

.explanation{
	font-family: glass antiqua, josefin slab, serif;
	float: center;
	height: 200 px;
	text-align: justify;
	width: 540px;
}

footer{
	clear: both;
	color: #7C1137;
	font-family: glass antiqua, josefin slab, serif;
	line-height: 50px;
	text-align: center;
}