body{
  background-color: #FFF4F9;
}

header{
  background-color: #7C1137;
}

#name{
  background-color: #7C1137;
  text-align: center;
  color: #FFF4F9;
  padding-top: 60px;
  padding-bottom: 5px;
  font-size: 44.5px;
  font-family: glass antiqua;
  height:140px; 
  width: 695px;
  margin: auto;
  text-align: justtify;
}

nav {
  padding-top: 0px;
  text-align: center;
  margin: auto;
  display: block;
  height: 50px;
  width: 760px;
}

nav ul{
  font-family: glass antiqua;
  display: inline;
  display: block;
  text-align: center;
  float: left;
  margin: auto;
  list-style-type: none;
}

nav ul li {
  display: inline;
  display: block;
  line-height: 40px;
  float: right;
  float: left;
  text-align: center;
  margin: auto;
  width: 170px;
  color: #7C1137; 
  font-size: 18px;
}

nav a:link {
  color: #7C1137;
  text-decoration:none;
}      /* unvisited link */

nav a:visited {
  color: #7C1137;
  text-decoration:none;
}  /* visited link */
  
nav a:active {
  color:#7C1137;
}  /* selected link */

section{
  clear:both;
  font-family: glass antiqua, josefin slab, serif;
  text-align: justify;
  display: inline;
  display: block;
  float: middle;
  margin: auto;
  width: 560px;
}

section ul{
  font-family: glass antiqua;
  list-style-type: none;
  width:700px;
  text-align:center;
}

section ul li {
  diplay: inline;
  line-height: 40px;
  float: left;
  width:130px;
  font-size: 18px;
}

section #content ul li a{
  display: block;
  line-height: 40px;
  float: left;
  color: #7C1137; 
  font-size: 18px;  
}

section a:link {
  color: #D92969;
  text-decoration:none;
}      /* unvisited link */

section a:visited {
  color: #D92969;
  text-decoration:none;
}  /* visited link */

.item {
  padding: 10px;
  right-padding: 40px;
  clear: both;
  float: left;
}

.explanation{
  font-family: glass antiqua, josefin slab, serif;
  float: center;
  margin: 55px;
  top-padding: 15px;
  bottom-padding: 15px;
  text-align: justify;
  width: 200px;
  height: 200 px;
}

footer{
  clear: both;
  line-height: 50px;
  text-align: center;
  color: #7C1137;
  font-family: glass antiqua;
}